<template>
	<v-layout>
		<h3>This is an example</h3>
		<br/><br/>
		<h4>State Management</h4>
		<br/>
		<div>The current index is {{ $store.state.pro.currentIndex }}</div>
		<div>The current bumpped index is {{ getBump() }}</div>
		<button v-on:click="inc">Increment</button>
		<button v-on:click="dec">Decrement</button>
		<br/><br/>
		<h4>Routing</h4>
		<br/>
		<button v-on:click="home">Home</button>
		<router-link :to="{ name: 'account.index' }">Account</router-link>
		<br/><br/>
		<h4>Animations</h4>
		<br/>
		<button class="infiniteWiggle">Dumb Button</button>
		<h5 class="infiniteLoop">Waw..</h5>
		<br/><br/>
		<h4>REST Call</h4>
		<br/>
		<button v-on:click="fetch">Fetch API</button>
		<button v-on:click="clear" v-bind:class="{'disabled':(!($store.state.pro.artists.length > 0))}">Clear Results</button>
		<br/>
		<div class="album-wrapper">
			<h5 v-if="$store.state.pro.artists.length > 0" id="results">Results</h5>
			<transition name="fade">
				<!-- whatever transition here -->
			</transition>
			<Albums />
		</div>
  	</v-layout>
</template>

<script>
/* ============
 * Home Index Page
 * ============
 *
 * The home index page.
 */

import VLayout from "@/layouts/Default.vue";
import Albums from "@/views/Album/Index.vue";

export default {
	/**
	 * The name of the page.
	 */
	name: "ProfileIndex",

	/**
	 * The components that the page can use.
	 */
	components: {
		VLayout,
		Albums
	},
	methods: {
		inc() {
			console.log("INC");
			this.$store.dispatch("pro/inc");
		},
		dec() {
			console.log("DEC");
			this.$store.dispatch("pro/dec");
		},
		getBump() {
			console.log("Getting bump");
			return this.$store.getters["pro/bump"];
		},
		log() {
			console.log("store :", this.$store);
		},
		home() {
			console.log("Back to Home (via action)");
			this.$store.dispatch("pro/home");
		},
		clear() {
			this.$store.dispatch("pro/clear");
		},
		fetch() {
			console.log("Fetching..");
			this.$store.dispatch("pro/fetch");
		}
	}
};
</script>

<style scoped src="./Index.css">
</style>
