button {
	background-color: #303030;
	color: #ffffff;
	padding: 5px 10px;
	margin: 10px 10px 10px 0px;
	border-radius: 10px;
	border-width: 0px;
}

.album-wrapper {
	background-color: #fafafa;
	border-radius: 10px;
	min-height: 300px;
	min-width: 80%;
	padding: 10px 0px;
	margin-bottom: 20px;
}

.disabled {
	background-color: #cccccc;
}

#results {
	margin: 20px 30px 5px 30px;
	opacity: 0.5;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

.infiniteLoop {
	display: inline;
	-webkit-animation: loop 2s ease-in-out infinite;
	-moz-animation: loop 2s ease-in-out infinite;
	animation: loop 2s ease-in-out infinite;
}

@-webkit-keyframes loop {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes loop {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes loop {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.infiniteWiggle {
	-webkit-animation: wiggle 2s ease-in-out infinite;
	-moz-animation: wiggle 2s ease-in-out infinite;
	animation: wiggle 2s ease-in-out infinite;
}

@-webkit-keyframes wiggle {
	0% {
		margin-left: 20px;
		margin-right: 20px;
		padding: 5px 10px;
	}
	50% {
		margin-left: 50px;
		margin-right: 50px;
		padding: 5px 20px;
	}
	100% {
		margin-left: 20px;
		margin-right: 20px;
		padding: 5px 10px;
	}
}

@-moz-keyframes wiggle {
	0% {
		margin-left: 20px;
		margin-right: 20px;
		padding: 5px 10px;
	}
	50% {
		margin-left: 50px;
		margin-right: 50px;
		padding: 5px 20px;
	}
	100% {
		margin-left: 20px;
		margin-right: 20px;
		padding: 5px 10px;
	}
}

@keyframes wiggle {
	0% {
		margin-left: 20px;
		margin-right: 20px;
		padding: 5px 10px;
	}
	50% {
		margin-left: 50px;
		margin-right: 50px;
		padding: 5px 20px;
	}
	100% {
		margin-left: 20px;
		margin-right: 20px;
		padding: 5px 10px;
	}
}
